{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format $.Site.Params.dateFormat }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    {{ range .Params.tags }}{{ with $.Site.GetPage (printf "/tags/%s" (. | urlize)) }}<a href="{{ .RelPermalink }}" class="tag">{{ .Title }}</a>{{ end }}{{ end }}
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
